<h1>Tasks List</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Details</th>
    </tr>
    
    <% @tasks.each do |task| %>
        <tr>
            <td><%=task.name%></td>
            <td><%=task.details%></td>
        </tr>
    <% end %>
    
</table>