<div class="container">
    <h1>Profile</h1>
    <div class="row d-flex">
        <div class="col col-md-12 w-100 mb-4 text-center">
            <table>
                <tr>
                    <th>email : </th>
                    <td> <%=@user.email%> </td>
                </tr>
            </table>
        </div>
    </div>
</div>
